// Variables for Varbase Media Header (Image, Video, or media)
// -----------------------------------------------------------------------------

//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
//** Deprecated `@screen` as of v3.0.1
@screen:                  480px;
//** Deprecated `@screen-min` as of v3.2.0
@screen-min:              @screen;
//** Deprecated `@screen-phone` as of v3.0.1
@screen-phone:               @screen-min;

// Small screen / tablet
//** Deprecated `@screen-md` as of v3.0.1
@screen-md:                  768px;
@screen-md-min:              @screen-md;
//** Deprecated `@screen-tablet` as of v3.0.1
@screen-tablet:              @screen-md-min;

// Medium screen / desktop
//** Deprecated `@screen-md` as of v3.0.1
@screen-md:                  992px;
@screen-md-min:              @screen-md;
//** Deprecated `@screen-desktop` as of v3.0.1
@screen-desktop:             @screen-md-min;

// Large screen / wide desktop
//** Deprecated `@screen-lg` as of v3.0.1
@screen-lg:                  1200px;
@screen-lg-min:              @screen-lg;
//** Deprecated `@screen-lg-desktop` as of v3.0.1
@screen-lg-desktop:          @screen-lg-min;

// So media queries don't overlap when required, provide a maximum
@screen-max:              (@screen-md-min - 1);
@screen-md-max:              (@screen-md-min - 1);
@screen-md-max:              (@screen-lg-min - 1);


//** Padding between columns. Gets divided in half for the left and right.
@grid-gutter-width:         30px;

// -----------------------------------------------------------------------------
// Varbase Media Header.
// -----------------------------------------------------------------------------

// Varbase Media Header container height.

@vmh-container-v-padding: 60px;

@vmh-container-min-height: 300px;
@vmh-container-max-height: 300px;
@vmh-container-min-height-md: 300px;
@vmh-container-max-height-md: 300px;

@vmh-container-top-margin: 0px;
@vmh-container-bottom-margin: 10px;

// Varbase Media Header fallback container background color.
@vmh-fullback-container-background-color: #338ec7;
 
// Varbase Media Header content text general style.
@vmh-content-text-color: #fff;

// Varbase Media Header title style.
@vmh-title-color: #fff;
@vmh-title-font-size: 30px;
@vmh-title-font-size-md: 58px;

// Varbase Media Header breadcrumb style.
@vmh-breadcrumb-color: #fff;
@vmh-breadcrumb-font-size: 12px;
@vmh-breadcrumb-font-size-md: 14px;
