{#
/**
 * @file
 * Varbase Media Header block.
 *
 * - $vmh_page_breadcrumbs: System Page breadcrumbs.
 * - $vmh_page_title: System page title.
 * - $vmh_background_media: Background media (Image, local or remote videos).
 *
 */
#}
{{ attach_library('varbase_media_header/media_header') }}
<header class="vmh-container bg-edge2edge">
  <div class="vmh-content container">

    {# System Page breadcrumbs #}
    {% if vmh_page_breadcrumbs %}
      <div class="vmh-breadcrumb">{{ vmh_page_breadcrumbs }}</div>
    {% endif %}

    {# System page title #}
    {% if vmh_page_title %}
      <h1 class="vmh-page-title">{{ vmh_page_title }}</h1>
    {% endif %}
  </div>
  <div class="vmh-background bg-edge2edge">

    {# Background media #}
    {% if vmh_background_media %}
      {{ vmh_background_media }}
    {% endif %}
  </div>
</header>
